<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630593184114-elqd6uief7h757snu7emb3s3smvhgtof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630593184114-elqd6uief7h757snu7emb3s3smvhgtof</string>
	<key>API_KEY</key>
	<string>AIzaSyDs5bsGdZzWz69b268HVq0XYckqQ1v8TfA</string>
	<key>GCM_SENDER_ID</key>
	<string>630593184114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.houzeoExample</string>
	<key>PROJECT_ID</key>
	<string>houzeo-68282</string>
	<key>STORAGE_BUCKET</key>
	<string>houzeo-68282.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630593184114:ios:c74c3a107b98f93acefdeb</string>
</dict>
</plist>